/********************** STANDARD **********************/

body {
  background-color: #041C32;
  color: #ECB365;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #04293A;
  border-width: 5px;
  width: 5%;
}

h3 {
  color: #064663;
}

h1 {
  color: #064663;
}

strong {
  color: #ECB365;
}

th {
  color: #ECB365;
}
/********************************************/

/********************** CSS CLASSES **********************/
.description {
  color: aqua;
}

.circular {
  border-radius: 100%;
}
/********************************************/

/********************** CSS IDs **********************/

/********************************************/

